<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SpeedifyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Speedify"
        tools:targetApi="31">
        <activity
            android:name=".feature_education.presentation.detail_education.DetailEducationActivity"
            android:exported="false" />
        <activity
            android:name=".feature_bengkel.presentation.checkout_bengkel.PaymentMethodsActivity"
            android:name=".feature_profile.presentation.kendaraan.EditKendaraanMobilActivity"
            android:exported="false"/>
        <activity
            android:name=".feature_consultation.presentation.chat_montir.ChatMontirActivity"
            android:exported="false" />
        <activity
            android:name=".feature_profile.presentation.privacy_policy.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".feature_profile.presentation.kendaraan.EditKendaraanMotorActivity"
            android:exported="false"/>
        <activity
            android:name=".feature_profile.presentation.kendaraan.DataKendaraanActivity"
            android:exported="false" />
        <activity
            android:name=".feature_profile.presentation.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".feature_profile.presentation.edit_password.EditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".feature_profile.presentation.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".feature_profile.presentation.edit_profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".feature_profile.presentation.ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".payment.payment_methods"
            android:exported="false"
            android:label="@string/title_activity_payment_methods"
            android:theme="@style/Theme.Speedify" />
        <activity
            android:name=".payment.payment_done"
            android:exported="false" />
        <activity
            android:name=".feature_consultation.presentation.order_montir.orderMontir"
            android:exported="false" />
        <activity
            android:name=".feature_activity.presentation.detail_pesanan.DetailPesananActivity"
            android:exported="false" />
        <activity
            android:name=".feature_bengkel.presentation.detail_bengkel.DetailBengkelActivity"
            android:exported="false" />
        <activity
            android:name=".feature_bengkel.presentation.checkout_bengkel.CheckoutBengkelActivity"
            android:exported="false" />
        <activity
            android:name=".feature_bengkel.presentation.bengkel_motor.BengkelMotorActivity"
            android:exported="false" />
        <activity
            android:name=".feature_bengkel.presentation.bengkel_mobil.BengkelMobilActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>